.about {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6% 15%;

  h1 {
    margin-bottom: 3%;
    font-size: 35px;
  }

  p {
    color: rgb(63, 62, 62);
    font-size: 18px;
  }
}
