.about {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5% 20%;
}

.about h1 {
  margin-bottom: 3%;
  font-size: 25px;
}

.about p {
  color: rgb(63, 62, 62);
  font-size: 18px;
}
