* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
  /* background-color: #121214; */
}

.homePageCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 920px;
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    color: #fff;
    width: 50%;
    text-align: center;
    background-color: transparent;
    font-size: 80px;
  }

  a {
    background-color: white;
    font-size: 30px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    margin: 10px;
    color: #49a6e9;
    cursor: pointer;
    text-decoration: none;
  }

  button {
    border-radius: 25px;
  }

  p {
    margin: 20px;
    font-size: 20px;
    color: #fff;
    width: 700px;
  }
}

@media screen and (max-width: 1024px) {
  .homePageCenter {
    h1 {
      margin-top: 25%;
      width: 70%;
      font-size: 70px;
    }

    p {
      width: 80%;
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 820px) {
  .homePageCenter {
    h1 {
      margin-top: 25%;
      width: 85%;
      font-size: 70px;
    }

    p {
      width: 80%;
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 768px) {
  .homePageCenter {
    h1 {
      width: 90%;
      font-size: 50px;
    }

    p {
      width: 80%;
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 650px) {
  .homePageCenter {
    h1 {
      font-size: 40px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 430px) {
  .homePageCenter {
    h1 {
      width: 90%;
      font-size: 40px;
    }

    p {
      width: 80%;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 375px) {
  .homePageCenter {
    h1 {
      width: 100%;
      font-size: 28px;
    }

    p {
      width: 300px;
      font-size: 16px;
    }
  }
}
