* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: #121214;
}

.homePageCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  background-image: url(../assets/solar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.homePageCenter h1 {
  color: #fff;
  width: 50%;
  text-align: center;
  background-color: transparent;
  font-size: 80px;
}

.homePageCenter p {
  background-color: transparent;
  margin: 10px;
  color: #fff;
  width: 50%;
  text-align: center;
}

.homePageCenter button {
  background-color: white;
  font-size: 30px;
  padding: 15px;
  border-radius: 25px;
  border: none;
  margin: 10px;
  color: #3272d6;
  cursor: pointer;
}
