.projects {
  text-align: center;
}

/* #404A8A #a94e15*/

.informations {
  background-image: url("../assets/image6.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin-bottom: 5%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.informations::after {
  background-color: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.938)
  );
  z-index: 3;
}

.showProjects {
  margin: 6% 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.imageProps {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 340px;
  width: 440px;
  margin-bottom: 10%;
  border-radius: 5px;

  img {
    min-width: 430px;
    max-width: 430px;
    min-height: 480px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
  }

  span {
    margin-top: 390px;
    position: absolute;
    color: #fff;
    font-size: 20px;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 1700px) {
  .showProjects {
    grid-template-columns: repeat(2, 1fr);
  }

  .imageProps {
    margin-bottom: 30%;
  }
}

@media screen and (max-width: 1400px) {
  .imageProps {
    margin: 10% 0 25% 0;
  }
}

@media screen and (max-width: 980px) {
  .showProjects {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .showProjects {
    margin: 15% 0;
    grid-template-columns: repeat(1, 1fr);
  }

  .informations {
    height: 200px;
  }

  .imageProps {
    width: 100%;
    margin-bottom: 30%;
    margin-top: 5%;

    img {
      margin: 10% 0;
      min-width: 380px;
      max-width: 380px;
      min-height: 460px;
    }

    span {
      margin-top: 88%;
      font-size: 18px;
    }
  }

  .imageProps::after {
    margin-top: 70%;
    margin-left: 25px;
    width: 380px;
  }
}

@media screen and (max-width: 360px) {
}

.imageProps {
  img {
    margin: 10% 0;
    min-width: 340px;
    max-width: 340px;
    min-height: 400px;
  }
}
