.projects {
  text-align: center;

  h1 {
    color: #fd8a20;
    font-size: 35px;
  }
}

/* #404A8A #a94e15*/

.showProjects {
  margin: 7% 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.imageProps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 340px;
  width: 440px;
  margin-bottom: 10%;
  border-radius: 5px;

  img {
    background-color: rgb(44, 73, 73);
    object-fit: cover;
    min-width: 430px;
    max-width: 430px;
    min-height: 480px;
    border-radius: 25px;
  }
}
